<div class="col-md-6">
  <h2 class="text-center">Alta provincia</h2>
 <form>
  <div>
      <br>
    <!--<label for="nombre">idProvincia:<br></label> -->
  </div>
 
  <div >
   <!-- <label for="provincia">Nombre provincia:<br></label>-->
    <input type="text" [(ngModel)]="provincia.provincia" placeholder="Nombre provincia" name="provincia" class="form-control" id="nombreProvincia"><br>
  </div>
  <br>
 
  <button class="btn btn-success" (click)="createProvincia()" routerLink="/listadoprovincias">Guardar Provincia</button>
 </form>
 </div>