<div class="card border-primary mb-3">
    <div class="card-body text-primary">
        <p class="card-text">Listado de Contactos</p>
    </div>
</div>
<a th:href="@{/createProvincia}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva provincia</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido1</th>
            <th>apellido2</th>
            <th>dni</th>
            <th>fechanacimiento</th>
            <th>borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of persona">
            <td>{{persona.idpersona}}</td>
            <td><a routerLink="/detallecontacto/{{persona.idpersona}}">{{persona.nombre}}</a></td>
            <td>{{persona.apellido1}}</td>
            <td>{{persona.apellido2}}</td>
            <td>{{persona.dni}}</td>
            <td>{{persona.fechanacimiento}}</td>
            <td><button class="btn btn-danger" (click)=deletePersona(persona)> Eliminar contacto</button></td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>