<div class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a type="button" href="/listadocontactos" class="btn btn-light navbar-expand-rg float-right">Entrar</a>
            <a type="button" href="/listadoprovincias" class="btn btn-light navbar-expand-rg float-right">Entrar a provincias</a>
            <a type="button" th:href="@{/iracreateuser}" class="btn btn-light navbar-expand-rg"><i class="fas fa-user-plus"></i> Contacto nuevo</a>
    </nav>
</div>