<div id="pro">
    <h1 class="card-text">Listado de Provincia</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id provincia</th>
                <th>Nombre provincia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provincia of provincia">
                <td>{{provincia.idprovincia}}</td>
                <td>{{provincia.provincia}}</td>
                <button class="btn btn-warning">Modificar</button>
                <button class="btn btn-danger">Eliminar</button>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>